h3 {
  color: red;
  background: yellow;
   font-family: Comic Sans MS;
}

h2 {
  color: #4B0082;
  background: #8A2BE2;
   font-family: Arial;
}


h1 {
  color: rgb(128, 0, 0);
  background: rgb(222, 184, 135);
   font-family: Arial;
}
