body{
  margin: 0;
  padding: 0;
  background:  url(../img/cloud.png) no-repeat fixed,
               url(../img/cloud.png) no-repeat fixed,
               url(../img/city.png) repeat-x fixed;
  background-size: auto, auto, cover;
  animation: cloudCity 10s linear infinite;
}

@keyframes cloudCity {
  from: {
    background-position: -20% 50%, -50% 10%, 0px 0;
  }
  to{
    background-position: 120% 50%, 150% 10%, -1000px 0;
  }

}
