body{
  margin: 0;
  padding: 0;
  background: white;
}


.rectangle{
  background: red;
  background-size: cover;
  width: 100px;
  height: 50px;
  position: fixed;
  left: 50px;
  top: 50px;
  animation: squarePath 10s linear infinite;
}

@keyframes squarePath {
  0%  {opacity: 0.5; background: red}
  25% {opacity: 0.75; transform: translate(500px, 0px) rotate(90deg); background: yellow}
  50% { opacity: 1; transform: translate(500px, 500px) rotate(180deg); background: blue}
  75% {opacity: 0.75; transform: translate(0px, 500px) rotate(270deg);background: yellow}
  100% {opacity: 0.5; transform: translate(0px, 0px) rotate(360deg); background: red }
}
