body{
  margin: 0;
  padding: 0;
  background: white;
}


.rectangle{
  background: red;
  background-size: cover;
  width: 200px;
  height: 100px;
  position: fixed;
  left: 20px;
  top: 20px;
  transition: 3s;
}
