body{
  margin: 0;
  padding: 0;
  background: white;
}


.rectangle{
  background: red;
  background-size: cover;
  width: 200px;
  height: 100px;
  position: fixed;
  left: 20px;
  top: 20px;
  animation: squarePath 5s linear infinite;
}

@keyframes squarePath {
  0%  {}
  25% { transform: translate(500px, 0px);}
  50% { transform: translate(500px, 500px);}
  75% { transform: translate(0px, 500px);}
  100% { transform: translate(0px, 0px);}}
}
