@font-face {
  /* https://www.fonts-online.ru/font/Ustroke-Regular */
  font-family: UstrokeRegular;
  src: url(fonts/UstrokeRegular.ttf);
}
/*Заголовки*/
h3 {
  /* Цвет -- строка */
  color: red;
  background: yellow;
   font-family: Comic Sans MS;
}

h2 {
  /* Цвет -- HEX */
  color: #4B0082;
  background: #8A2BE2;
   font-family: Arial;
}


h1 {
  /* Цвет -- RGB */
  color: rgb(128, 0, 0);
  background: rgb(222, 184, 135);
   font-family: Times, Arial;
}

/*Ссылки*/
a {
  text-decoration: none;
  color:green
}

.bgyellowBlue{
  color: blue;
  background: yellow;
}

/*Абзацы*/
.bgRedGreen{
  color:green;
  background: red;
}

.centerHuge{
  text-align: center;
  font-size: 150%;
}

.italic{
  font-style: italic;
}

.downloadedFont {
  font-family: UstrokeRegular;
  font-size: 48px;
}
